.movieDetailsContainer {
  max-width: 1200px;
  margin-top: 100px !important;
  margin: 0 auto;
  padding: 16px;
}

.moviePoster {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 35% !important;
}

.movieTitle {
  font-weight: bold !important;
  color: #2c3e50;
}

.movieOverview {
  font-size: 1.1rem;
  color: #34495e;
  margin-top: 16px;
}

.movieInfo {
  font-weight: 600;
  color: #2c3e50;
  margin-top: 8px;
  
}

.trailerContainer {
  margin-top: 40px;
  text-align: center;
}

.trailerVideoContainer {
  margin-top: 16px;
  position: relative;
  padding-bottom: 56.25%; /* Aspect ratio 16:9 */
  height: 0;
  overflow: hidden;
}

.trailerVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.castContainer {
  margin-top: 40px;
}

.castCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 100px;
  
}

.sectionTitle {
  margin-bottom: 16px;
  font-weight: 700;
  color: #2c3e50;
}

@media (max-width: 768px) {
  .moviePoster {
    width: 75% !important;
    margin-bottom: 16px;
  }

  .movieTitle {
    font-size: 1.8rem;
  }

  .movieOverview {
    font-size: 1rem;
  }

  .castCard {
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .movieTitle {
    font-size: 1.5rem;
  }

  .movieOverview {
    font-size: 0.9rem;
  }
}
