:root {
  --primary-bg: #1c1c1c;
  --primary-text: #fff;
  --card-radius: 12px;
}

.contentCard {
  background-color: #ffffff; /* Cor do fundo do card */
  color: #000000; /* Cor do texto visível */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
}

.cardMedia {
  height: 600px;
  object-fit: cover;
}

.cardContent {
  padding: 16px;
  text-align: center;
}

.cardContent h6 {
  color: #333; /* Cor do título do filme/série */
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardContent:hover h6 {
  color: #e50914; /* Cor ao passar o mouse */
}

.cardRating {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  color: #f39c12;
}


@media (max-width: 600px) {
  .contentCard {
    max-width: 100%;
    margin: 8px;
  }
  .cardMedia {
    height: 300px;
  }
}